{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 md-5">Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
<table class="table table-hover">
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Общая стоимость</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart.products.all %}
  <h3>Проба</h3>

        <tr>
          <th scope="row" ><a href="{{ item.content_object.get_absolute_url }}">{{ item.content_object.title }}<a/></th>
          <td><a href="{{ item.content_object.get_absolute_url }}"><img src="{{ item.content_object.image.url }}" alt="" class="rounded mx-auto d-block" height="100"></a></td>
          <td>{{ item.content_object.price }} руб.</td>
          <td>{{ item.qty }} шт.</td>
          <td>{{ item.final_price }} руб.</td>
        </tr>

  {% endfor %}


  </tbody>
</table>

{% endblock content %}